<!DOCTYPE html>
<html data-swagger-options="<%= GrapeSwaggerRails.options.to_json %>">
<head>
  <title><%= GrapeSwaggerRails.options.app_name %></title>
  <link href='//fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'/>
  <%= stylesheet_link_tag 'grape_swagger_rails/application.css' %>
  <%= javascript_include_tag 'grape_swagger_rails/application.js' %>
  <script type="text/javascript">
	$(function () {
	  var options = $("html").data('swagger-options');
	  
    window.swaggerUi = new SwaggerUi({
      url: options.app_url + options.url,
      dom_id:"swagger-ui-container",
      supportHeaderParams: true,
      headers: options.headers,
      supportedSubmitMethods: ['get', 'post', 'put', 'delete'],
      onComplete: function(swaggerApi, swaggerUi){
        if('console' in window) {
          console.log("Loaded SwaggerUI")
          console.log(swaggerApi);
          console.log(swaggerUi);
        }
        $('pre code').each(function(i, e) {hljs.highlightBlock(e)});
      },
      onFailure: function(data) {
        if('console' in window) {
          console.log("Unable to Load SwaggerUI");
          console.log(data);
        }
      },
      docExpansion: "none"
    });

    $('#input_apiKey').change(function() {
      var key = $('#input_apiKey')[0].value;
      
      if(key && key.trim() != "") {
        if (options.api_auth == 'basic') {
          key = "Basic " + Base64.encode(key);
        }
        window.authorizations.add("key", new ApiKeyAuthorization(options.api_key_name, key, options.api_key_type));

     } else {
        window.authorizations.add("key", null);
      }
    })
    window.swaggerUi.load();
  });
  </script>
</head>

<body>
<div id='header'>
  <div class="swagger-ui-wrap">
    <a id="logo" href="<%= GrapeSwaggerRails.options.app_url %>"><%= GrapeSwaggerRails.options.app_name %></a>

    <form id='api_selector'>
      <div class='input'><input placeholder="http://example.com/api" id="input_baseUrl" name="baseUrl" type="text"/></div>
      <div class='input'><input placeholder="api_key" id="input_apiKey" name="apiKey" type="text"/></div>
      <div class='input'><a id="explore" href="#">Explore</a></div>
    </form>
  </div>
</div>

<div id="message-bar" class="swagger-ui-wrap">
  &nbsp;
</div>

<div id="swagger-ui-container" class="swagger-ui-wrap">
<div class="info" id="api_info">
  
    <div class="info_title">Welcome to Phoenix API Documentation!</div>
    <div class="info_description">
        <p>
	Here you have all information needed to extend, test and use the Phoenix API. This section of the documentation is intended to get you up-and-running with real-world Phoenix API based applications. We.ll cover everything you need to know, from authentication, to manipulating results, to combining results with other services.

Feel free to ask, test, and make suggestions
        </p>
    </div>

    <div class="info_tos"><a href="http://wiki.conseur.org/display/PHOENIX/Phoenix">Phoenix Wiki</a></div>
    <div class="info_contact"><a href="mailto:BRA-Develop@conseur.org">Request an API Key or contact the support</a></div>
</div>
</div>

</body>

</html>
