<!DOCTYPE html>
<html data-swagger-options="<%= GrapeSwaggerRails.options.to_json %>">
<head>
  <title><%= GrapeSwaggerRails.options.app_name %></title>
  <link href='//fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'/>
  <%= stylesheet_link_tag 'grape_swagger_rails/application.css' %>
  <%= javascript_include_tag 'grape_swagger_rails/application.js' %>
  <script type="text/javascript">
	$(function () {
	  var options = $("html").data('swagger-options');
	  
    window.swaggerUi = new SwaggerUi({
      url: options.app_url + options.url,
      dom_id:"swagger-ui-container",
      supportHeaderParams: true,
      headers: options.headers,
      supportedSubmitMethods: ['get', 'post', 'put', 'delete'],
      onComplete: function(swaggerApi, swaggerUi){
        if('console' in window) {
          console.log("Loaded SwaggerUI")
          console.log(swaggerApi);
          console.log(swaggerUi);
        }
        $('pre code').each(function(i, e) {hljs.highlightBlock(e)});
      },
      onFailure: function(data) {
        if('console' in window) {
          console.log("Unable to Load SwaggerUI");
          console.log(data);
        }
      },
      docExpansion: "none"
    });

        for (var key in options.headers) {
                if (options.headers.hasOwnProperty(key)) {
                        window.authorizations.add("key", new ApiKeyAuthorization(key, options.headers[key]));
			console.log("ADD headers" + key);
                }
        }



    $('#input_apiKey').change(function() {
      var key = $('#input_apiKey')[0].value;
      
      if(key && key.trim() != "") {
        if (options.api_auth == 'basic') {
          key = "Basic " + Base64.encode(key);
        }
        window.authorizations.add("key", new ApiKeyAuthorization(options.api_key_name, key, options.api_key_type));
      } else {
        window.authorizations.add("key", null);
      }
    })
    window.swaggerUi.load();
  });
  </script>
</head>

<body>
<div id='header'>
  <div class="swagger-ui-wrap">
    <a id="logo" href="<%= GrapeSwaggerRails.options.app_url %>"><%= GrapeSwaggerRails.options.app_name %></a>

    <form id='api_selector'>
      <div class='input'><input placeholder="http://example.com/api" id="input_baseUrl" name="baseUrl" type="text"/></div>
      <div class='input'><input placeholder="api_key" id="input_apiKey" name="apiKey" type="text"/></div>
      <div class='input'><a id="explore" href="#">Explore</a></div>
    </form>
  </div>
</div>

<div id="message-bar" class="swagger-ui-wrap">
  &nbsp;
</div>

<div id="swagger-ui-container" class="swagger-ui-wrap">

</div>

</body>

</html>
