<!DOCTYPE html>
<html data-swagger-options="<%= GrapeSwaggerRails.options.to_h.to_json %>">
<head>
  <title><%= GrapeSwaggerRails.options.app_name || 'Swagger UI' %></title>
  <link href='//fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'/>
  <%= stylesheet_link_tag 'grape_swagger_rails/application.css' %>
  <% if GrapeSwaggerRails.options[:custom_css_file] %>
    <%= stylesheet_link_tag GrapeSwaggerRails.options[:custom_css_file] %>
  <% end %>
  <%= javascript_include_tag 'grape_swagger_rails/application.js' %>
  <script type="text/javascript">
	$(function () {
	  var options = $("html").data('swagger-options');

    window.swaggerUi = new SwaggerUi({
      url: options.app_url + options.url,
      dom_id:"swagger-ui-container",
      supportHeaderParams: true,
      supportedSubmitMethods: ['get', 'post', 'put', 'delete'],
      onComplete: function(swaggerApi, swaggerUi){
        if('console' in window) {
          console.log("Loaded SwaggerUI")
          console.log(swaggerApi);
          console.log(swaggerUi);
        }
        $('pre code').each(function(i, e) {hljs.highlightBlock(e)});
      },
      onFailure: function(data) {
        if('console' in window) {
          console.log("Unable to Load SwaggerUI");
          console.log(data);
        }
      },
      docExpansion: "none"
    });

    $('#input_apiKey').change(function() {
      var key = $('#input_apiKey')[0].value;

      if(key && key.trim() != "") {
        if (options.api_auth == 'basic') {
          key = "Basic " + Base64.encode(key);
        } else if (options.api_auth == 'bearer') {
          key = "Bearer " + key
        }
        window.authorizations.add("key", new ApiKeyAuthorization(options.api_key_name, key, options.api_key_type));
      } else {
        window.authorizations.add("key", null);
      }
    });

    <% GrapeSwaggerRails.options.headers.each_pair do |key, value| %>
      <%=raw "window.authorizations.add('key', new ApiKeyAuthorization('#{CGI.escapeHTML(key)}', '#{CGI.escapeHTML(value)}', 'header'));" %>
    <% end %>

    window.swaggerUi.load();
  });
  </script>
</head>

<body class="swagger-section">
<div id='header'>
  <div class="swagger-ui-wrap">
    <a id="logo" href="<%= GrapeSwaggerRails.options.app_url %>"><%= GrapeSwaggerRails.options.app_name %></a>

    <form id='api_selector'>
      <div class='input'><input placeholder="http://example.com/api" id="input_baseUrl" name="baseUrl" type="text"/></div>
      <div class='input'><input placeholder="api_key" id="input_apiKey" name="apiKey" type="text"/></div>
      <div class='input'><a id="explore" href="#">Explore</a></div>
    </form>
  </div>
</div>

<div id="message-bar" class="swagger-ui-wrap">
  &nbsp;
</div>

<div id="swagger-ui-container" class="swagger-ui-wrap">

</div>

</body>

</html>
